/* frontend/src/components/BubblesBackground.css */
/* Este archivo se mantiene mínimo ya que los estilos cruciales para la animación
   y el posicionamiento de las burbujas se encuentran en AuthPage.css */