/* frontend/src/index.css */
:root {
  /* Fuentes */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Nota: Las variables de color y estilos de Auth han sido movidos a App.css y AuthPage.css */
}

body {
  margin: 0;
  color: #212529; /* Base de texto oscuro */
  background-color: #f8f9fa; /* Base de fondo muy claro */
}